main{
    background-color: aliceblue;
}

.ourTitle{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.ourStory{
    margin: 20px;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    align-items: center;
    justify-content: center;
}

.boxMission{
    border: 1px solid gray;
    padding: 15px;
    border-radius: 8px;
    width: 350px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.ourStoryTitle{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.ourstoryDescription{
    margin-top: 10px;
    width: 80%;
}

.missionVission{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.missionTitle{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.missionDescription{
    width: 300px;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}
header{
    background-color: rgb(203, 200, 196); 
    display: flex; 
    width: 100%; 

}

nav{
    width: 100%;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}

nav ul li{

    text-decoration: none;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(236, 234, 230);
}
.form{
    display: flex;
    align-content: center;
    width: 100%;
}
form {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  align-content: center;
  justify-content: center;
}

form::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../assets/image1.webp") center/cover no-repeat;
  filter: blur(8px);          /* control blur intensity */
  transform: scale(1.1);      /* avoids edge blur cutoff */
  z-index: 0;
}


.loginHeader{
    position: relative; /*keep text above blur */
    color: white;
    z-index: 1;
    text-align: center;
    color: aliceblue;
}
.holders{
    position: relative;         /* keep text above blur */
    color: white;
    z-index: 1;
    margin: 0;
    padding: 5px;
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}

.holders label{
    position: relative;         /* keep text above blur */
    color: white;
    z-index: 1;
    width: 30%;
}

.holders input{
    width: 50%;
    height: 25px;
    border-radius: 5px;
    border-style: none;
}

form button{
    position: relative;         /* keep text above blur */
    color: rgb(20, 17, 17);
    z-index: 1;
    margin: 0;
    padding: 5px;
    display: flex;
    width: 50%;
    gap: 20px;
    justify-content: space-evenly;
    align-self: center;
    border-style: none;
    border-radius: 25px;
}

form button:hover{
    background-color: rgb(13, 165, 66);
    cursor: pointer;
    color: rgb(255, 255, 255);
}

footer{
    position: relative;
}